.bundle/
/vendor/
/td-agent/staging/
/td-agent/debian/post*
/td-agent/debian/copyright
/td-agent/debian/source/include-binaries
/td-agent/downloads/
/td-agent/yum/build.sh
/td-agent/yum/repositories/
/td-agent/yum/tmp/
/td-agent/yum/env.sh
/td-agent/apt/build.sh
/td-agent/apt/env.sh
/td-agent/apt/repositories/
/td-agent/apt/tmp/
/td-agent/msi/env.bat
/td-agent/msi/parameters.wxi
/td-agent/msi/project-files.wxs
/td-agent/macos/Distribution.xml
/td-agent/macos/td-agent.icns
/td-agent/macos/td-agent.iconset/
/td-agent/macos/td-agent.rsrc
/td-agent/macos/scripts/postinstall
/td-agent/macos/resources/td-agent.osascript
/td-agent-apt-source/apt/build.sh
/td-agent-apt-source/apt/env.sh
/td-agent-apt-source/apt/repositories/
/td-agent-apt-source/apt/tmp/
*.wixobj
*.wixpdb
*.msi
*.gz
