.bundle/
.vagrant/
/vendor/
/fluent-package/staging/
/fluent-package/debian/post*
/fluent-package/debian/copyright
/fluent-package/debian/source/include-binaries
/fluent-package/downloads/
/fluent-package/yum/build.sh
/fluent-package/yum/repositories/
/fluent-package/yum/tmp/
/fluent-package/yum/env.sh
/fluent-package/apt/build.sh
/fluent-package/apt/env.sh
/fluent-package/apt/repositories/
/fluent-package/apt/tmp/
/fluent-package/msi/env.bat
/fluent-package/msi/parameters.wxi
/fluent-package/msi/project-files.wxs
/fluent-package/dmg/dmg/
/fluent-package/dmg/resources/pkg/Distribution.xml
/fluent-package/dmg/td-agent.icns
/fluent-package/dmg/td-agent.iconset/
/fluent-package/dmg/td-agent.rsrc
/fluent-package/dmg/resources/pkg/scripts/postinstall
/fluent-package/dmg/resources/dmg/td-agent.osascript
/fluent-apt-source/apt/build.sh
/fluent-apt-source/apt/env.sh
/fluent-apt-source/apt/repositories/
/fluent-apt-source/apt/tmp/
*.wixobj
*.wixpdb
*.msi
*.gz
*.DS_Store
