Source: fluentd-apt-source
Section: misc
Priority: optional
Maintainer: Fluentd developers <fluentd@googlegroups.com>
Build-Depends:
  debhelper-compat (= 12),
  gnupg,
  lsb-release
Standards-Version: 4.5.0
Homepage: https://www.fluentd.org/

Package: fluentd-apt-source
Section: misc
Architecture: all
Depends:
  ${misc:Depends},
  apt-transport-https,
  gnupg
Description: GnuPG archive key and APT source of the Treasure Agent archive
 The Treasure Agent project digitally signs its Release files. This
 package contains the archive key used for that.
