#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install

%:
	dh $@

override_dh_auto_build:
	rake build:deb_config TD_AGENT_GEM_HOME=.
	rake build:plugin_gems TD_AGENT_GEM_HOME=.

override_dh_auto_clean:
	rake clean
	dh_auto_clean
