<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
    <title>Fluent Package v<%= pkg_version %></title>
    <background file="background.png" alignment="bottomleft" mime-type="image/png"/>
    <license file="license.rtf" mime-type="text/html"/>
    <welcome file="welcome.html" mime-type="text/html"/>
    <options customize="never" require-scripts="false"/>
    <choices-outline>
        <line choice="default"/>
    </choices-outline>
    <choice id="default">
        <pkg-ref id="org.fluent.fluentd" version="<%= version %>" onConclusion="none">fluent-package.pkg</pkg-ref>
    </choice>
</installer-gui-script>
