Source: fluent-package
Section: net
Priority: optional
Maintainer: Fluentd developers <fluentd@googlegroups.com>
Uploaders: HATAKE Hiroshi <hatake@clear-code.com>
Build-Depends:
  debhelper-compat (= 12),
  pkg-config,
  zlib1g-dev,
  ruby-dev,
  ruby-bundler,
  rake,
  libedit2,
  libncurses5-dev,
  libyaml-dev,
  libssl-dev
Standards-Version: 4.3.0
Homepage: https://www.fluentd.org/

Package: fluent-package
Architecture: any
Replaces: td-agent (<< 5.0.0-1)
Breaks: td-agent (<< 5.0.0-1)
Pre-Depends: adduser
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
Description: Treasure Agent: A data collector for Treasure Data
 Treasure Agent is all in one package which contains Fluentd and
 related gem packages.
 .
 It is installable alongside with system's gem packages separately.

Package: td-agent
Section: oldlibs
Architecture: all
Depends:
  fluent-package,
  ${misc:Depends}
Description: Transitional package
 This is a transitional package for fluent-package.
 .
 It can be safely be removed.
