#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install

%:
	dh $@

# As aptly doesn't support zstd yet, so as a workaround, force default
# package compression to xz
override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_install:
	rake build:deb_config FLUENT_PACKAGE_STAGING_PATH="$(CURDIR)/debian/tmp" NO_VAR_RUN=1
	CI=$CI rake build:all        FLUENT_PACKAGE_STAGING_PATH="$(CURDIR)/debian/tmp" PATH="$(HOME)/.cargo/bin:$(PATH)"
	dh_installman

# Suppress forcing service start/restart in postinst by omitting
# related start/restart hook script embedding. It does not omit
# deb-systemd-helper enable/update-state fluentd.service
override_dh_installsystemd:
	dh_installsystemd --no-restart-after-upgrade --no-stop-on-upgrade

override_dh_auto_clean:
	rake clean
	dh_auto_clean
