Source: td-agent
Section: net
Priority: optional
Maintainer: Fluentd developers <fluentd@googlegroups.com>
Uploaders: HATAKE Hiroshi <hatake@clear-code.com>
Build-Depends:
  debhelper (>= 10),
  cdbs,
  pkg-config,
  zlib1g-dev,
  ruby-dev,
  ruby-bundler,
  rake,
  libedit2,
  libncurses5-dev,
  libyaml-dev,
  libssl-dev
Standards-Version: 4.3.0
Homepage: http://www.fluentd.org/

Package: td-agent
Architecture: any
Pre-Depends: adduser
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
Description: Treasure Agent: A data collector for Treasure Data
 Treasure Agent is all in one package which contains Fluentd and
 related gem packages.
 .
 It is installable alongside with system's gem packages separately.
