addFilter("E:.* dir-or-file-in-opt")
# It will be fixed in upstream https://github.com/libffi/libffi/pull/564
addFilter("E: incorrect-fsf-address")
# It will be fixed in ruby upstream
addFilter("E: missing-call-to-chdir-with-chroot")
# False positive (template files and so on)
addFilter("E: non-executable-script")
# False positive (library or json file and so on)
addFilter("E: script-without-shebang")
