addFilter("E:.* dir-or-file-in-opt")
# It will be fixed in upstream https://github.com/libffi/libffi/pull/564
addFilter("E: incorrect-fsf-address")
# It will be fixed in ruby upstream
addFilter("E: missing-call-to-chdir-with-chroot")
# False positive (template files and so on)
addFilter("E: non-executable-script")
# False positive (library or json file and so on)
addFilter("E: script-without-shebang")
# False positive (/opt/* and so on)
addFilter("E: wrong-script-interpreter")
# False positive
addFilter("W: pem-certificate")
addFilter("W: crypto-policy-non-compliance-openssl")
# It is intended not to split to -devel package
addFilter("W: devel-file-in-non-devel-package")
# It is intended (async-http)
addFilter("E: zero-length")
# It is intended not to affect on already installed ruby
addFilter("E: binary-or-shlib-defines-rpath")
addFilter("E: rpath-in-buildconfig")
# It is intended for digest-crc gem
addFilter("E: non-standard-executable-perm")
# It is intended to keep compatibility
addFilter("W: hidden-file-or-dir")
# It is intended to ignore .git* and so on
addFilter("E: version-control-internal-file")
# It is intended to ignore gem library
addFilter("W: no-soname")
# It is intended to ignore tmpwatch workaround
addFilter("E: dir-or-file-in-tmp")
addFilter("E: use-tmp-in-%preun")
addFilter("E: use-tmp-in-%post")
addFilter("W: dangerous-command-in-%preun rm")
# It is intended to ignore tmpwatch workaround
addFilter("W: dangerous-command-in-%post cp")
